<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>142638732493-n28p8n8s5s2rfo2q1a1se49b80ogj1g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142638732493-n28p8n8s5s2rfo2q1a1se49b80ogj1g2</string>
	<key>API_KEY</key>
	<string>AIzaSyCQYuRuxBBDK8sCqzkPp1MElQK4HPgT3jk</string>
	<key>GCM_SENDER_ID</key>
	<string>142638732493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.mobile2</string>
	<key>PROJECT_ID</key>
	<string>mobile2-d6d45</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile2-d6d45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142638732493:ios:aacfbea41cfae3ea</string>
	<key>DATABASE_URL</key>
	<string>https://mobile2-d6d45.firebaseio.com</string>
</dict>
</plist>